@model AcunMedyaAkademiPortfolio1.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmetlerim Güncelleme Sayfası</h2>

<form method="post">
    <label>Hizmetler Id</label>
    <input type="text" class="table table-bordered" value="@Model.ServiceID" name="ServiceID" readonly />
    <br />
    <label>Hizmetler Başlığı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <label>Hizmetler Açıklaması</label>
    <textarea rows="4" class="table table-bordered" name="Description">@Model.Description</textarea>
    <label>Hizmetler Görseli</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <button class="btn btn-success">Hizmetleri Güncelleme</button>
</form>