
@model List<AcunMedyaAkademiPortfolio1.Models.TblProject>
<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Arşivim</h3>
         
        </div><!-- end title -->

        <div class="gallery-menu row">
                <div class="col-md-12">
                    <div class="button-group filter-button-group text-left">
                        <button class="active" data-filter="*">Tümü</button>
                        <button data-filter=".gal_a">Ferrari</button>
                        <button data-filter=".gal_b">Porsche</button> 
                        <button data-filter=".gal_c">McLaren</button>
                        <button data-filter=".gal_d">Mercedes Benz</button>
                        <button data-filter=".gal_e">Aston Martin</button>
                    </div>
                </div>
            </div>

        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/gk8gq4n.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/gk8gq4n.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/sr17aic.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/sr17aic.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/45p3l01.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/45p3l01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/98qgcii.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/98qgcii.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/i2bri81.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/i2bri81.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/9255px8.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/9255px8.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>






            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/9fwufux.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/9fwufux.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/aq3cee6.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/aq3cee6.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/a3dspv6.jpg" class="img-fluid" alt="Image">
                    <div class="https://i.hizliresim.com/a3dspv6.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">
                        <i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/edicpig.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/edicpig.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/7k23175.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/7k23175.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/nhkgdmg.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/nhkgdmg.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>






            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/6eqhrhh.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/6eqhrhh.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/d8zm1ff.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/d8zm1ff.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/a8vdr85.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/a8vdr85.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/fa8cx0k.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/fa8cx0k.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/f71drlt.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/f71drlt.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/pa2ukzr.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/pa2ukzr.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>





            <div class="col-md-4 col-sm-6 gallery-grid gal_d ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/87aixv4.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/87aixv4.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/p1kb2kc.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/p1kb2kc.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/hqgby1t.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/hqgby1t.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/1logbm3.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/1logbm3.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/7homux9.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/7homux9.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_d ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/568dwmb.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/568dwmb.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>







            <div class="col-md-4 col-sm-6 gallery-grid gal_e ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/k1dwxbk.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/k1dwxbk.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_e">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/e35fzj7.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/e35fzj7.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_e ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/afp030l.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/afp030l.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_e ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/krjga07.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/krjga07.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_e ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/louqcgt.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/louqcgt.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_e ">
                <div class="gallery-single fix">
                    <img src="https://i.hizliresim.com/rck2a8y.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="https://i.hizliresim.com/rck2a8y.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
